*{
    margin: 0;
}
h1{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    
}
.logotipo{
    height: 100px;
    width: 100px;
    margin: 10px;
    
}
nav{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b5c2cb;
    padding: 10px;
}
header{
    background-color:#b5c2cb;
    padding-bottom: 10px;
}
p{
    text-align: left;
    margin: 40px;
    text-indent: 2rem;
}
.maiusculo{
    text-transform: uppercase;
}

nav{
    padding-bottom: 10px;
    padding-left: 10px;
    
}
main{
    background-color: #f5f5f5;
    padding-bottom: 10px;
}
img{
    border-radius: 60%;
    border: #000 solid
}
form{
    padding-left: 30px;
}
footer{
   background-color:#dddddd;
   padding: 10px;
   text-align: center;
}
    
