*{
    margin: 0;
}

nav{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#8bd9dc;
    padding: 10px;
}
header{
    background-color:#8bd9dc;
    padding-bottom: 10px;
}
p{
    text-align: left;
    margin: 40px;
    text-indent: 2rem;
}
.maiusculo{
    text-transform: uppercase;
}

nav{
    padding-bottom: 10px;
    padding-left: 10px;
    
}
main{
    background-color:#ffffff;
    padding-bottom: 10px;
}
img{
    height: 300px;
    border-radius: 60%;
}
form{
    padding-left: 30px;
}
footer{
   background-color:#dddddd;
   padding: 10px;
   text-align: center;
}
    
