@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: #161616;
}

.header-container{
    height:100vh;
    width: 100vh;
    position: relative;
    background-image: linear-gradient(to top, #f0eff8, #b6b1e0,
    #7c73c8);
}
img{
    height: 400px;
    width: 400px;
    border-radius: 60%;
    position: relative;
    left: 60%;  
}
h1{
    font-size: 50px;
    letter-spacing: 4px;
}
h2{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.social-media{
    margin-top: 1rem;
    display: flex;
}
.social-media a {
    color:#161616;
    padding: 1rem 4rem;
    border: 1rem solid #161616;
    min-width:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s case-in-out;


}
